<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/task
              http://www.springframework.org/schema/task/spring-task.xsd">

       <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
              <property name="corePoolSize" value="${taskExecutor.corePoolSize}"></property>
              <property name="maxPoolSize" value="${taskExecutor.maxPoolSize}"></property>
              <property name="queueCapacity" value="${taskExecutor.queueCapacity}"></property>
              <property name="threadGroupName" value="TaskThreadGroup"></property>
       </bean>

       <task:annotation-driven executor="alarmCarpExecute" scheduler="alarmCarpScheduler"></task:annotation-driven>
       <task:executor id="alarmCarpExecute" pool-size="20"></task:executor>
       <task:scheduler id="alarmCarpScheduler" pool-size="2-"></task:scheduler>
</beans>